/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(75% 75% at 35% 88%, #C7D5ED 0%, #C7D5ED00 100%),
                    radial-gradient(75% 75% at -5% 0%, #F4E0C1 0%, #F4E0C100 100%),
                    radial-gradient(75% 75% at -11% 87%, #BDE5EA 0%, #BDE5EA00 100%),
                    linear-gradient(0deg, #A0BAE1 0%, #F3D1BC 91%);
}

    
}

.contenedor {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

/* Iconos de redes sociales */
.redes-sociales {
    margin-top: 1rem;
}

.redes-sociales a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 0 0.5rem;
    border-radius: 50%;
}

.icono-facebook {
    background-image: url('icono-facebook.png');
}

.icono-twitter {
    background-image: url('icono-twitter.png');
}

.icono-instagram {
    background-image: url('icono-instagram.png');
}
